html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN DU RESET*/

/* Déclaration des typo */
@font-face{
	font-family: "Roboto";
	src: url('../typo/Roboto/Roboto-Regular.ttf');
}
@font-face{
	font-family: "RobotoMedium";
	src: url('../typo/Roboto/Roboto-Medium.ttf');
}
@font-face{
	font-family: "RobotoBold";
	src: url('../typo/Roboto/Roboto-Bold.ttf');
}
@font-face {
	font-family: "DirtyBrush";
	src: url("../typo/DirtyBrush.ttf");
}

/* Bloc principal */
.container-fluid{
	padding: 0;
}

/* Menu  */


/* PAGE ACCUEIL */

/* Bloc titre et boutons */
.jumbotron{
	background-color: #79f481;
	height: 880px;
}

body {
 /* background-color: #79f481; */
 width:100%;
 }

 h1{
   font-family: "DirtyBrush";
   font-size: 10em !important;
	 margin-top: 13%;
	 margin-bottom: 15px;
 }

h3{
	font-family: "RobotoMedium" !important;
  text-align: center;
  font-size: 2em;
  margin: 15px 15px 5% 15px;
}

/* Boutons */
 .box_boutons{
	margin-top: 120px !important;
	display: flex;
	justify-content: center;
}

.main_button{
	border-style: none;
  box-shadow: 7px 7px 1px black;
	margin-bottom: 20px !important;
 	background-color: white !important;
	color : #000 !important;
	font-size: 1.25em;
	border-radius: 10px;
}


/*PAGE FRUIT ET LEGUMES */

h2{
 font-family: "DirtyBrush";
 font-size: 8em;
 margin-top: 3%;
 margin-right: 5%;
 margin-bottom: 5%;
 padding-top: 50px;
 text-align: right;
}


.greenBox{
width: 100%;
height: 20vh;
padding: 20px;
	}

.greenOne{
	background-color: green;
}

.greenTwo{
	background-color: #55BE47;
}

.greenThree{
	background-color: #00AB39;
}


/* PAGE MOIS&SAISONS */

/* PAGE FORUM */
.FORUM {
	background-color: white;
	width: 100%;
  }

#icone_theme{
	width: 100px;
	margin-bottom: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgEtTxt{
	margin-bottom: 65px;
}

.box_theme{
	margin-left: auto;
	margin-right: auto;
}

.box_theme a{
	font-family: "RobotoMedium";
	text-decoration: none;
	font-size: 1em;
	color: black;
	text-align: center;
}

.box_theme a p{
	font-family: "Roboto";
	font-size: 1em;
	margin-top: 20px;
	color: grey;
}
.texte{
	padding: 0 15% 0 15%;
}
.footer{
	background-color:#9b9b9b;
}

/* PAGE DISCUSSIONS */
.box_page_discussion{
	margin-top: 100px;
}
.box_page_discussion li a{
	text-decoration: none;
}

h6{
	margin-bottom: 50px;
	font-family: 'DirtyBrush';
	font-size: 5em;
	text-align: center;
}

.boutons_discussion{
	display: flex;
	justify-content: center;
	/* margin-left: auto; */
	/* margin-right: 0; */
}
