html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
	font-family: 'Roboto', sans-serif;
	/*font-size: 16px;*/
}

a{
	text-decoration: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN DU RESET*/
/*html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}*/

/* Déclaration des typo */
@font-face{
	font-family: "Roboto";
	src: url('../typo/Roboto/Roboto-Regular.ttf');
}
@font-face{
	font-family: "RobotoMedium";
	src: url('../typo/Roboto/Roboto-Medium.ttf');
}
@font-face{
	font-family: "RobotoBold";
	src: url('../typo/Roboto/Roboto-Bold.ttf');
}
@font-face {
	font-family: "DirtyBrush";
	src: url("../typo/DirtyBrush.ttf");
}
/* halo bootstrap */

/* Bloc principal */
.container-fluid{
	padding: 0;
}

/* Menu  */

/* popup Inscription */
.modal-header{
	border-bottom: none;
	text-align: center;
}
.modal-footer{
	border-top: none;
}
.bouton_Sinscrire{
	background-color: #79f481;
	border-color: #79f481;
}
.bouton_Sinscrire:hover{
	background-color: #31DE3C;
	border-color: #31DE3C;
}

/* popup Connexion */
.bouton_SeConnecter{
	background-color: #79f481;
	border-color: #79f481;
}
.bouton_SeConnecter:hover{
	background-color: #31DE3C;
	border-color: #31DE3C;
}


/* PAGE ACCUEIL */
	/* Bloc titre et boutons */
	.jumbotron{
		background-color: #79f481;
		/* background-size: cover; */
		height: 850px;
	}

	body {
	 /* background-color: #79f481; */
	 width:100%;
	 }

	 h1{
	   font-family: "DirtyBrush";
	   font-size: 10vh !important;
		 margin-top: 13%;
		 margin-bottom: 15px;
		 margin-left: auto;
		 margin-right: auto;
	 }
	 /*@media screen and (max-width: @screen-xs) {
	     body h2{font-size: 100px;
				 background-color: red;
			 }
	 }

	 @media (max-width: @screen-sm) {
	     body h2{font-size: 30px;}
	 }*/


h3{
	font-family: "RobotoMedium" !important;
  text-align: center;
  font-size: 3vh;
  margin: 15px 15px 5% 15px;
}

/* Boutons */
 .box_boutons{
	margin-top: 120px !important;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.main_button{
	border-style: none;
  box-shadow: 7px 7px 1px black;
	margin-bottom: 20px !important;
 	background-color: white !important;
	color : #000 !important;
	font-size: 1.25em;
	border-radius: 10px;
}



/*PAGE FRUIT ET LEGUMES */

h2{
 font-family: "DirtyBrush";
 font-size: 8vh;
 margin-top: 3%;
 margin-right: 5%;
 margin-bottom: 5%;
 padding-top: 50px;
 text-align: right;
}


.greenBox{
width: 100%;
height: 20vh;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
	}

.greenOne{
	background-color: #79f481;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */

}

.greenTwo{
	background-color: #6CE574;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.greenThree{
	background-color: #36B53F;
}

.fruits{
	max-width: 60%;
	max-height: 60%;
	margin-bottom: 5px;
}

h4{
	font-family: "RobotoMedium" !important;
  text-align: center;
  font-size: 25px;
}

/* PAGE MOIS&SAISONS */
.carousel-indicators{
	padding-top: 30px;
}
.outside{
	margin-left: 50px;
	padding-left: 50px;
}

.outside1{
	margin-right: 50px;
	padding-right: 50px;
}
/* PAGE FORUM */
	.FORUM {
		background-color: white;
		width: 100%;
	  }

	h5{
		font-size: 2vh;
		font-family: "RobotoMedium";
	}

	#icone_theme{
		width: 100px;
		margin-bottom: 15px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.imgEtTxt{
		margin-bottom: 65px;
	}

	.box_theme{
		margin-left: auto;
		margin-right: auto;
	}

	.box_theme a{
		font-family: "RobotoMedium";
		text-decoration: none;
		color: black;
		text-align: center;
	}

	.box_theme a p{
		font-family: "Roboto";
		font-size: 1em;
		margin-top: 20px;
		color: grey;
	}
	.texte{
		padding: 0 15% 0 15%;
	}
	.footer{
		background-color:#9b9b9b;
		color: white;
		font-size: 1.2vh;
	}

/* PAGE DISCUSSIONS */
	.box_pages{
		margin-top: 100px;
	}
	.box_pages li a{
		text-decoration: none;
	}

	h6{
		margin-bottom: 50px;
		font-family: 'DirtyBrush';
		font-size: 5em;
		text-align: center;
	}

	.ThemeDiscussion a{
		text-decoration: none;
	}

	/* boutons page discussion */

	.boutons_discussion{
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	.bouton_retour{
		background-color: #79f481;
		border-color: #79f481;
		margin-right: 10px;
	}
	.bouton_retour:hover{
		background-color: #31DE3C !important;
		border-color: #31DE3C;
	}
	.bouton_NouveauContenu{
		background-color: #79f481;
		border-color: #79f481;
	}
	.bouton_NouveauContenu:hover{
		background-color: #31DE3C;
		border-color: #31DE3C;
	}

	.list-group-item{
		margin-left: auto;
		margin-right: auto;
		background-color: #f8f9fa;
		border: none;
		border-bottom: 4px solid #79f481;
	}
	.list-group-item:hover{
			background-color: #EBECED;
	}
	.list-group-item a{
		color: grey;
	}

	.list-group-item:first-child {
		border-top-left-radius: 0px;
	  border-top-right-radius: 0px;
	}
	.list-group-item:last-child {
	  border-bottom-right-radius: 0px;
	  border-bottom-left-radius: 0px;
	}
.final{
	margin-top: 20px;
}
/* PAGE CREER DISCUSSIONS */
	.bouton_CreerDiscussion{
		display: flex;
		justify-content: center;
		background-color: #79f481;
		border-color: #79f481;
		margin: 20px auto auto auto;
	}
	.bouton_CreerDiscussion:hover{
		background-color: #31DE3C;
		border-color: #31DE3C;
	}


	/* PAGE MESSAGES */
		.messages_liste{
			margin-bottom: 20px;
			margin-top: 20px;
			padding: 30px;
			background-color: #EBECED;
			border-bottom: none !important;
		}
		.messages_liste:hover{
			background-color: #D2D3D4;
		}
		.commentaires_liste{
			margin-bottom: 20px;
		}
		.commentaires_liste:hover{
		}
		.bouton_Repondre {
			background-color: #79f481;
			border-color: #79f481;
			margin-left: 85%;
		}
		.bouton_Repondre:hover{
			background-color: #31DE3C;
			border-color: #31DE3C;
		}
		.list-group ul{
			padding-right: 30px;
			padding-left: 30px;

		}
		.pseudo{
			font-family: 'RobotoMedium';
			text-transform: uppercase;
		}
		.date{
			color: grey;
			text-align: right;
			font-size: 0.7em;
		}
		.message_content{
			color: grey;
			text-align: justify;
			font-size: 0.9em;
		}

/* PAGES ADMIN */

	/* Page admin user */
	.entete{
		background-color: #79f481;
		border: 0px;
		text-transform: uppercase;
		font-family: 'RobotoMedium';
	}
	.bouton_admin{
		background-color: #79f481;
		border-color: #79f481;
	}
	.bouton_admin:hover{
		background-color: #31DE3C;
		border-color: #31DE3C;
	}
	td a{
		color: grey;
	}
	td a:hover{
		text-decoration: none;
		color: #595959;
	}

	/* .list-group-item{
		margin-left: auto;
		margin-right: auto;
		background-color: #f8f9fa;
		border: none;
		border-bottom: 4px solid #79f481;
	}
	.list-group-item:hover{
			background-color: #EBECED; */

	/* Pade admin edit user */
	.roles{
		height: auto;
	}
	.lienTexte{
		color: grey;
	}
	.lienTexte:hover{
		text-decoration: none;
		color: #595959;
	}
	.position{
		text-align: center;
	}
	.bouton_admin_position{
		margin: 0 auto;
	}
	.bouton_admin_position a{
		text-decoration: none;
		color: white;
	}
	.bouton_admin_position a:hover{
		text-decoration: none;
		color: white;
	}
	.pb_margin{
		margin: 10px auto;
	}
	.centrage_boutons{
		display: flex;
		justify-content: center;
	}
