html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN DU RESET*/

/* Menu hover */
.hover-on-me {
    width: 200px;
    height: 200px;
    background-color: #00f;
    opacity: 1;
    transition: 0.5s ease-in;
    color: #fff;
}

.hidden {
    width: 200px;
    height: 200px;
    background-color: #0ff;
    opacity: 0;
    transition: 0.5s ease-in;
    color: #fff;
}

.show-me {
    opacity: 1;
}

.page1{
  margin-top: 12%;
	height: 500px;
}

.container-burger{
	position: fixed;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
}

.rond1, .rond2, .rond3{
	margin-left: 20px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: black;
	margin: 6px 0;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu a{
  color: black;
  margin: 40px;
}

#icone_Connexion1{
	position: absolute;
	right: 100px;
	top: 0px;
	width: 130px;
}

#icone_Connexion2{
	position: absolute;
	right: 100px;
	top: 60px;
	width: 130px;
}

body {
 background-color: #79f481;
 font-size: 100%;
 width:100%;
 }

 h1{
   font-family: "Dirty Brush";
   src: url('DirtyBrush.ttf');
   text-align: center;
   font-size: 10em;
   margin: 15px;
 }

 h2{
 	font-family: "Dirty Brush";
 	src: url('DirtyBrush.ttf');
 	font-size: 8em;
 	margin-top: 10%;
	margin-right: 5%;
	margin-bottom: 5%;
 	padding-top: 50px;
	text-align: right;
 }

h3{
  font-family: "Roboto";
	src: url('Roboto-Regular.ttf');
  text-align: center;
  font-size: 2em;
  margin: 15px;
}

#bouton_accueil{
	margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.main_button{
  width:222px;
  box-shadow: 7px 7px 1px black;
}

.main_button a {
  display: inline;
  text-align: center;
  color:black;
}
.main_button, li {
 float:left;
 background-color: white;
 margin : 20px;
 padding: 20px;
 border-radius: 10px;
 font-size: 1.25em;
 text-align: center;
 }

#bouton_accueil li a:hover {
 color:#FFD700;
 }
 #bouton_accueil ul li ul {
  display:none;
  }

#bouton_accueil ul li:hover ul {
 display:block;
 }
#bouton_accueil li:hover ul li {
 float:none;
 }

  .LesBoutons {
   list-style-type:none;
   }

  .LesBoutons li {
      text-align: center;
   /*float:left;*/
   background-color: white;
   margin : 15px;
   padding: 15px;
   border-radius: 10px;
   /*font-size: 1,2em;
   box-shadow: 7px, 7px, 1px;*/
   }
.LesBoutons li a {
	width:200px;
	color:black;
	}

@media only screen and (max-width: 478px) {
}

.pageFruitsduMois {
	background-color: white;
	width: 100%;
 	padding-bottom:50px;
  }

.greenBox{
	display: grid;
	grid-template-columns:   200px 200px 200px 200px 200px ;
	grid-template-rows: 200px 200px 200px 200px 200px ;
	justify-content: center;
	margin: 100px;
	}


.greenOne{
	background-color: green;
}

.greenTwo{
	background-color: #55BE47;
}

.greenThree{
	background-color: #00AB39;
}

.FORUM {
	background-color: white;
	width: 100%;
 	padding-bottom:50px;
  }

.forum_container{
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 350px;
}

.box_theme {
	width:300px;
	margin-right: 50px;
	margin-left: 50px;
}
.box_theme img{
margin-left: 20%;
}

#icone_theme{
	justify-content: center;
	width: 150px;
}

.box_theme a{
	font-family: "Roboto";
	src: url('Roboto-Regular.ttf');
	font-size: 2em;
	color: black;
	text-align: center;
}

.box_theme a p{
	font-family: "Roboto";
	src: url('Roboto-Regular.ttf');
	font-size: 0.8em;
	margin-top: 20px;
	color: grey;
}
.texte{
	margin-top: 40px;
	margin-bottom:60px;
}
.ligne2{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
