{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1> Page Admin </h1>
<a href="{{ path('user_index') }}">Gestion des utilisateurs</a><br>
<a href="{{ path('theme_index') }}">Gestion des thèmes</a><br>
<a href="{{ path('discussion_index') }}">Gestion des discussions</a><br>
<a href="{{ path('message_index') }}">Gestion des messages</a>

{% endblock %}
